<h1>Contact Us</h1>
<p> You cen get ahold of us at the following places</p>

<ul>
  <li>Phone: 716-934-3580</li>
  <li>Email: info@jimwhites.com</li>
  <li>Facebook.com/jimwhitestuckandauto</li>

</ul>


