<body style="margin: 0; padding: 0;">
<table align="center" cellpadding="0" cellspacing="0" width="600">
 <tr>
  <td style="background-image:url(https://images.freecreatives.com/wp-content/uploads/2015/10/black-metal-diamond-plate-texture.jpg);width: 250px; height: 180px;" align="center" style="padding: 40px 0 30px 0;">
    <%= image_tag("JWLOGO.png", class: "img-responsive") %> <alt="Jim Whites" width="300" height="230" style="display: block;" />
  </td>
 </tr>
 <tr>
   <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
   <table cellpadding="0" cellspacing="0" width="100%" text-align= "center">
   <tr>
     <td>
      Thank you for choosing Jim White's
     </td>
   </tr>
   <tr>
     <td style="padding: 20px 0 30px 0;">
       Selling a vehicle can be tough. That is why Jim White's is pleased to take the burden off you, and leaving it to the professionals who will get you top dollar for your vehicle.
     </td>
   </tr>
 <table cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="260" valign="top">
   <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
     <td>
      <%= image_tag("ME.jpg", class: "img-responsive") %> <alt="" width="100%" height="140" style="display: block;" />
     </td>
    </tr>
    <tr>
     <td style="padding: 25px 0 0 0;">
      Hello! I am David Gould. I am a sales consultant here at Jim White's Trcuk & Auto Center and I will do everything to ensure that your vehicle is sold in a timely and professional manner.
     </td>
    </tr>
   </table>
  </td>
  <td style="font-size: 0; line-height: 0;" width="20">
   &nbsp;
  </td>
  <td width="260" valign="top">
   <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
     <td>
      <%= image_tag("Carfax.png", class: "img-responsive") %> <alt="" width="100%" height="140" style="display: block;" />
     </td>
    </tr>
    <tr>
     <td style="padding: 25px 0 0 0;">
      Know what your a purchasing. Every vehicle is listed with a full Carfax history report. 
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
 <tr>
  <td bgcolor="#387ca9" style="padding: 30px 30px 30px 30px;">
  <table cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="75%">
   Jim White's Truck & Auto Center &reg;Weepy's Web Devlopment 2017<br/>   
  </td>
 </tr>
</table>
</body>