body{
	background-image: url("crossword.png")
}

.navbar-brand{
  left:0;
  top:0;
}

.navbar {
    position: relative;
    border: 0;
    margin-bottom: 100px;
}

.nav navbar-nav li{
  font-size: 25px;
}

#carousel-example-generic {
    width: 100%; 
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 70%; 
margin: auto;
}

.carousel-caption {
  font-size: 50px;
  font-size: 3.5vw;
  color: #4286f4
}

.carousel-indicators {
  bottom:-25px;
}

.panel-body p {
  font-size: 50px;
  line-height: 50px;
  width: 80%;
  top: 40px;
  padding: 18px 20px 18px 20px;  
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}


