<% if current_user %>
  <h4>Add a review:</h4>
 <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
      <div class="form-group pad-bottom">
        <%= f.text_area :body, class: 'form-control', placeholder: 'Enter comment here' %>
      </div>
      <div>
        <div class="rating"></div>
      </div>
      <div class="pad-top">
        <%= f.submit "Submit", class: 'btn btn-default' %>
      </div>
    <% end %>
  <% end %>
</div>